* { box-sizing: border-box; }

body { font-family: sans-serif; }

.content {
  width: 100%;
  display: table;
}

.zone {
  width: 83%;
  border: solid;
  display: table-cell;
}

.moduleslist {
  width: 17%;
  border: solid;
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}

.moduleslist > dl {
  margin: 0;
  padding: 0 0 0 0;
}

.moduleslist > dl > dt {
  background: #B8C1C8;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: #FFF;
  font: bold 16px/19px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  width: 99%;
  top: -1px;
}

.moduleslist > dl > dd {
  font: bold 18px/35px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 0 0 12px;
  white-space: nowrap;
}

.moduleslist > dl > dd:active {
  background: #6ab1d4;
  color: white;
}

.moduleslist > dl > dd + dd {
  border-top: 1px solid #CCC
}

.draggable {
  position: absolute;;
  width: 100px;
  height: 100px;
  background: #F90;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}
.draggable.is-pointer-down {
  background: #09F;
}
.draggable.is-dragging { opacity: 0.7; }

.draggable > * {
  position: relative;
}

.draggable .handle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.point {
  background: #555;
  background: hsla(0, 0%, 0%, 0.4);
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.point.out {
  position : absolute;
  margin-left: 40px;
  top: 20px;
}

.draggable .label {
  position: absolute;
  top: -10px;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: small;
}

.line {
  border: 1px solid black;
  height: 0px;
  position: absolute;
}

#modale {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

label {
  cursor: pointer;
}

.labelButton {
  border: 1px solid black;
  padding: 5px 10px;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 50px;
}

.popupblock{
  background: #fff;
  padding: 20px;
  border: 20px solid #ddd;
  position: relative;
  margin: 10% auto;
  width: 40%;
  box-shadow: 0px 0px 20px #000;
  border-radius: 10px;
}

img.my_btn_close {
  float: right;
  margin: -55px -55px 0 0;
}
