* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  width: 100%;
  display: table;
}

.zone {
  width: 83%;
  border: solid;
  display: table-cell;
  padding-left: 10px;
  height: 500px;
  overflow: scroll;
  position: relative;
}

.moduleslist {
  width: 17%;
  border: solid;
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}

.moduleslist > dl {
  margin: 0;
  padding: 0 0 0 0;
}

.moduleslist > dl > dt {
  background: #B8C1C8;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: #FFF;
  font: bold 16px/19px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  width: 99%;
  top: -1px;
}

.moduleslist > dl > dd {
  font: bold 18px/35px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 0 0 12px;
  white-space: nowrap;
}

.moduleslist > dl > dd:active {
  background: #6ab1d4;
  color: white;
}

.moduleslist > dl > dd + dd {
  border-top: 1px solid #CCC
}

.draggable {
  position: absolute;
  width: 100px;
  background: #F90;
  border-radius: 10px;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 10px;
}

.draggable.is-pointer-down {
  background: #09F;
}
.draggable.is-dragging { opacity: 0.7; }

.draggable > * {
  position: relative;
}

.draggable:hover {
  cursor: move;
}

.draggable.is-pointer-down .point {
  background: #7BD3FF;
}

.draggable .label {
  position: absolute;
  top: -10px;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: small;
  cursor: move;
}

.btndelete {
  margin-top: -25px;
  margin-left: 85px;
  position: absolute;
  cursor: auto;
  z-index: 1;
}

.btndelete:hover {
  cursor: auto;
}

.input {
  display: table-row;
}

.inputlabel {
  font-size: x-small;
  display: table-cell;
  vertical-align: middle;
}

.inputfield {
    width: 95%;
    font-size: x-small;
    margin-left: 10px;
    height: 20px;
    margin-bottom: 2px;
}

.point {
  background: #995C00;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: -10px;
  margin-right: 5px;
  float: left;
}

.point:hover {
  cursor: auto;
}

.point.out {
  position : absolute;
  margin-left: 90px;
  margin-bottom: 0px;
  margin-top: -6px;
  top: 50%;
}

.inputname {
  width: 87%;
  font-size: x-small;
  height: 20px;
  margin-bottom: 2px;
  margin-right: -10px
}

.line {
  border: 1px solid black;
  height: 0px;
  position: absolute;
}

.limitpoint {
  height: 1px;
  width: 1px;
  position: absolute;
}
